.App {
  text-align: center;
  /* background-image: url('./img/Captura.JPG');
   */
  background-color: aqua;
  width: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
